@import url("https://fonts.googleapis.com/css?family=Fredoka+One|Roboto:400,700");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-family: 'Fredoka One', cursive;
  font-weight: normal;
}

body {
  background-color: #c8c8c8;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  width: 350px;
  height: 435px;
  margin-bottom: 2em;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 3px #000000bb;
          box-shadow: 0 2px 3px #000000bb;
  -webkit-transition: -webkit-box-shadow .5s;
  transition: -webkit-box-shadow .5s;
  -o-transition: box-shadow .5s;
  transition: box-shadow .5s;
  transition: box-shadow .5s, -webkit-box-shadow .5s;
}

.img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  height: 275px;
}

.img p {
  margin: 0;
}

.img img {
  -webkit-transition: opacity .5s, -webkit-transform .5s;
  transition: opacity .5s, -webkit-transform .5s;
  -o-transition: transform .5s, opacity .5s;
  transition: transform .5s, opacity .5s;
  transition: transform .5s, opacity .5s, -webkit-transform .5s;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.date {
  color: white;
  background-color: steelblue;
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
  display: block;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 1em;
  right: 1em;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

.details {
  position: absolute;
  bottom: 0;
  padding: 20px;
  background-color: white;
  overflow: visible;
  width: 100%;
  height: 160px;
  -webkit-transition: height .5s;
  -o-transition: height .5s;
  transition: height .5s;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.art-type {
  font-family: 'roboto';
  color: white;
  background-color: steelblue;
  text-transform: uppercase;
  padding: 10px;
  display: block;
  position: absolute;
  top: -55px;
  left: 0;
}

.art-title {
  font-size: 32px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 5px;
}

.art-sub {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 20px;
  color: steelblue;
}

.art-desc {
  padding-bottom: 2em;
  opacity: 0;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.art-stats {
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 20px;
}

.art-stats .fa-comments {
  margin-left: 15px;
}

.card:hover {
  -webkit-box-shadow: 0 2px 10px #00000077;
          box-shadow: 0 2px 10px #00000077;
}

.card:hover .img img {
  -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  opacity: .4;
}

.card:hover .details {
  height: 270px;
}

.card:hover .details .art-desc {
  height: auto;
  opacity: 1;
}
/*# sourceMappingURL=card.css.map */











body {
  font-family: "Lato", sans-serif;
}

p {
  margin: 0 1em;
}

h2 {
  margin: 0;
  padding: 3% 5%;
}

h3 {
  margin: 0;
  padding: 1% 5%;
}

main {
  margin: 10%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

article {
  width: 300px;
  height: 400px;
  overflow: hidden;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
}
article img {
  width: 300px;
  height: 300px;
  z-index: 0;
  transition: transform 0.7s, filter 0.7s;
}
article:hover {
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.6);
}
article:hover .text-bloc, article:hover .text-rect {
  transform: translateY(-5em);
}
article:hover img {
  transform: scale(1.5);
  filter: opacity(50%);
}
article .text-circle {
  position: relative;
  z-index: 2;
  top: -280px;
  right: -230px;
  background-color: #E44050;
  color: white;
  width: 3.2em;
  height: 3.2em;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
article .text-rect {
  position: relative;
  z-index: 2;
  width: 5em;
  background: #E44050;
  height: 1.5em;
  margin: 0;
  padding: 0;
  top: -19.5em;
  transition: transform 1s;
  text-align: center;
  color: white;
}
article .text-bloc {
  background-color: white;
  position: relative;
  top: -5em;
  z-index: 1;
  transition: transform 1s;
}
article .text-footer {
  background-color: white;
  z-index: 2;
  width: 300px;
  padding: 5% 10% 10% 5%;
  position: relative;
  bottom: 10em;
}

/*# sourceMappingURL=style-card.css.map */