body {
    background-color: #656565;
    
    
}

li {
    list-style: none;
}

.logo {
    display: inline-block;
    height: 75px;
    text-align: center;
    vertical-align: top;
    background-color: #444444;
    font-size: 3em;
    padding: 8px;
    color: orangered;
    margin: 0;
    width: 80px;
    transition: background-color 0.8s;

    &:hover {
        background-color: #24262A;
    }
}

.txt {
    position: relative;
    display: inline-block;
    height: 45px;
    text-align: center;
    vertical-align: top;
    background-color: #2e2e2e;
    padding: 23px 2px;
    font-size: 1.5em;
    color: white;
    left: -4px;
    transform: translateX(-100px);
    opacity: 0;
    transition: opacity 0.8s, -webkit-transform 0.8s;
    transition: transform 0.8s, opacity 0.8s;
    transition: transform 0.8s, opacity 0.8s, -webkit-transform 0.8s;

    &:hover {
        transform: translateX(0);
        opacity: 1;
        
    }
}


i {
    color: #EB6405;
    font-size: 40px;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
 }

